<div class="container">
    <div class="hero-unit">
        <h1>'{{name}}, 'Allo!</h1>
        <p>You now have ok</p>
        <ul>
            <li>HTML5 Boilerplate</li>
            <li>Twitter Bootstrap</li>
            <li>RequireJS</li>
        </ul>
        <input type=button onclick="makeAnError();" value="Make an Error" />
        <p>installed.</p>
        <h3>Enjoy coding! - Yeoman</h3>
    </div>
</div>